.hiden-scroll {
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	margin: 0;
}

.w-100 {
	width: 100%;
}

.w-70 {
	width: 70%;
}

.h-100 {
	height: 100%
}

.z-index-20 { 
	z-index: 20;
}

.b-red {
	border: 1px solid red;
}

.b-blue {
	border: 1px solid blue;
}

.b-green {
	border: 1px solid green;
}

.b-yellow {
	border: 1px solid yellow;
}

.b-orange {
	border: 1px solid orange;
}

.b-purple {
	border: 1px solid purple;
}

.b-white {
	border: 1px solid white;
}